# 교차검증과 그리드 서치

In [2]:
import pandas as pd
wine = pd.read_csv("http://bit.ly/wine_csv_data")
wine.head()
wine.describe()

           alcohol        sugar           pH        class
count  6497.000000  6497.000000  6497.000000  6497.000000
mean     10.491801     5.443235     3.218501     0.753886
std       1.192712     4.757804     0.160787     0.430779
min       8.000000     0.600000     2.720000     0.000000
25%       9.500000     1.800000     3.110000     1.000000
50%      10.300000     3.000000     3.210000     1.000000
75%      11.300000     8.100000     3.320000     1.000000
max      14.900000    65.800000     4.010000     1.000000

In [7]:
data = wine[["alcohol", "sugar", "pH"]].to_numpy()
target = wine["class"].to_numpy()

In [8]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(data, target, test_size= 0.2, random_state= 42)

In [9]:
sub_input, val_input, sub_target, val_target = train_test_split(train_input, train_target, test_size=0.2, random_state=42)

In [10]:
print(sub_input.shape, val_input.shape)

(4157, 3) (1040, 3)

In [11]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(sub_input,sub_target)
print(dt.score(sub_input,sub_target))
print(dt.score(val_input,val_target))

0.9971133028626413
0.864423076923077

## 교차검증

In [12]:
from sklearn.model_selection import cross_validate
scores = cross_validate(dt, train_input, train_target)
print(scores)
# 기본적으로 5-폴드 교차 검증 수행

{'fit_time': array([0.01595521, 0.0119729 , 0.01296091, 0.01296377, 0.01396871]), 'score_time': array([0.00099993, 0.00099635, 0.00100493, 0.00099158, 0.00099397]), 'test_score': array([0.86923077, 0.84615385, 0.87680462, 0.84889317, 0.83541867])}

In [13]:
import numpy as np
print(np.mean(scores["test_score"]))

NameError: name 'scores' is not defined